<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mapping America's Superfund sites with open environmental data">
    <meta name="author" content="Nick Doiron">

    <title>Superfund Me</title>
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
        <span class="biglogo">
          <h1>Superfund Me</h1>
        </span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="//unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script>
$(function() {
  if ($('#map').length) {
    // activate Leaflet map
    var map = L.map('map');
    map.attributionControl.setPrefix('');

    // HOT map tiles
    L.tileLayer('//tile-{s}.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Tiles © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
    }).addTo(map);

    // if single view: add single marker
    if ($('#lat').length) {
      var ctr = [$('#lat').val() * 1, $('#lng').val() * 1];
      map.setView(ctr, 13);
      L.marker(ctr).addTo(map);
    }
  }
});
    </script>
  </body>
</html>
