<div class="row marketing">
  <div class="col-lg-4 col-lt">
    <h3><%= @site.name %></h3>
    <input id="lat" type="hidden" value="<%= @site.latitude %>"/>
    <input id="lng" type="hidden" value="<%= @site.longitude %>"/>
  </div>
  <div class="col-lg-8 col-rt">
    <div id="map"></div>
    <a href="https://www.openstreetmap.org/edit#map=15/<%= @site.latitude %>/<%= @site.longitude %>">Edit on OpenStreetMap</a>
  </div>
</div>

<%= link "Back", to: site_path(@conn, :index) %>
