<div class="row marketing">
  <div class="col-lg-6 col-lt">
    <h3><%= @site.name %></h3>
    <input id="lat" type="hidden" value="<%= @site.latitude %>"/>
    <input id="lng" type="hidden" value="<%= @site.longitude %>"/>
  </div>
  <div class="col-lg-6 col-rt">
    <div id="map"></div>
  </div>
</div>

<%= link "Back", to: site_path(@conn, :index) %>
